body {
    margin: 0;
    display: flex;
    height: 100svh;
    place-items: center;
    background: repeating-conic-gradient(
      from 45deg,
      #253a5e 0% 25%,
      #3c5e8b 0% 50%
    );
    background-size: max(10vw, 10svh) max(10vw, 10svh);
    background-color: #3c5e8b;

    font-family: 'Roboto', sans-serif;
    
    align-self: center;
    justify-content: center;
    flex-direction: row;

    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
}

.tetris {
    width: 300px;
    height: 600px;

    background: #000000;
}

.first {
    width: 150px;

    background: white;
}

.last {
    width: 150px;

    background: white;
}

.main-menu {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.load-menu {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    color: white;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }
  
  .hidden {
    display: none;
}